# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore IDE specific files
.vscode/
__debug_bin
.idea

# Project build artifacts
bins/
temporal-bench

# Project test artifacts
test
test.log

